{% extends 'wrapper.html' %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center h-100">

        <form action="/login/" method="post" class="form-group">{% csrf_token %}
            <input type="text" class="form-control mb-3 border border-dark" placeholder="Login(E-Mail)">
            <input type="password" class="form-control mb-3 border border-dark" placeholder="Password">
            <div class="d-flex justify-content-between">
                <button type="submit" class="form-control btn  btn-success ">Log in</button>
                <a href="/register" class="form-control btn  btn-warning ">Sign up</a>
            </div>
        </form>
    </div>
{% endblock %}